@CHARSET "ISO-8859-1";
	.parent{
		top:50%;
		left:50%;
		width: 240px;
		margin-left:-120px;
		height: 180px;
		margin-top: -90px;
		position: absolute;
		padding: 5px;
	}
	.child, .parent div{
		text-align: right;
		vertical-align: middle;
	}
	.cell{
	}
	.parent span{
		color: #FFFFFF;
	}
	.center,.jmesa {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
	}